.DS_Store
.env
.idea

node_modules

data/postgres/db-data/**
!data/postgres/db-data/.gitkeep
data/redis/cache/**
!data/redis/cache/.gitkeep

nginx/logs/**
nginx/conf.d/env.conf
nginx/conf.d/default.conf
nginx/cert/**
!nginx/cert/.gitkeep

venv*
.venv*

tsconfig.tsbuildinfo

monitoring/loki/data
monitoring/prometheus/data
monitoring/grafana/data

__pycache__

src/scrapers/rust*/target/
src/experiments/harmonic_detector/data/**

.claude
